	
/* body section start */
.main-layout{color: #666666;font-size: 20px;font-family: 'Raleway', sans-serif;
line-height: 1.80857;font-weight: normal; }

/* header/rb-fluid */
.rb-fluid{background: url(images/banner2.jpg);background-size: 100% 100%;   background-position: center;background-repeat: no-repeat; }
	
#rb-menu li a{ color:#121314; } #rb-menu li{ margin-right:15px; }
.logo a{ font-size: 30px;line-height: 25px;color: #fff;font-weight: bold; }
#rb-menu li a:hover{ color: #b76060;}



/*footer conact section start */
.conact .upper-top{background: #fff;padding: 50px 30px;box-shadow: 0px -10px 18px -7px #ddd;margin-top: -72px; }
.conact .titlepage{ padding:40px 0px; }
.conact .titlepage h2{font-size: 40px; color: #fff;line-height: 40px;font-weight: bold;padding-top: 8px !important; padding: 0; }	
.conact{background: #252525; padding-bottom: 20px;margin-top: 160px; }
.upper-top .lacation {align-items: center;justify-content: end;}
.upper-top .lacation li{ color: #e6615a;font-size: 18px;font-weight: 500;;line-height: 20px; padding-right: 21px; list-style:none; display: inline-block;}

.upper-top .lacation li i{margin-right: 8px;font-size: 30px;/*border: #e6615a solid 1px;*/
 width: 50px;height: 45px;}

.conact .rb-form .rb-flied{border: inherit; border-bottom: #fff solid 1px; margin-bottom: 25px;width: 100%;height: 44px; background: transparent; color: #818383;font-size: 17px;font-weight: 600; color:#fff }
.rb-form .rb-flied:focus-visible{ outline:none }
.rb-form .rb-textarea:focus-visible{ outline:none }

.conact .rb-form .rb-textarea{border: inherit;border-bottom: #fff solid 1px;margin-bottom: 25px;width: 100%;background: transparent;color: #818383; font-size: 17px;font-weight: 600;padding: 37px 0px 0 0px;height: 76px; }

 .rb-send_btn{ font-size: 17px;transition: ease-in all 0.5s;background-color: #e6615a;text-transform: uppercase;color: #fff; padding: 8px 0px;
max-width: 137px;width: 100%;border-radius: 40px;display: block;margin-top: 10px!important;font-weight: 600; }
.content .rb-form .rb-pro .rb-pro-iocn{color: white;font-size: 31px;margin-left: 27px;}
.social_icon{ display:flex; justify-content:center; }
.social_icon li{  list-style: none;   margin-right: 42px;    font-size: 34px; }
.rbt-social-icon li .icon{ text-decoration:none; }
.rbt-social-icon li .icon i{ color:#fff; font-size:29px;display: inline-block;    margin-left: 18px;}

.rb-send_btn:hover{ background:#fff; color:#db4b1f; }

.rbt-social-icon li .icon i:hover{ color:#db4b1f;  }
.rb-map{ position:relative; }
.rb-map iframe{ position:absolute;top:30px; }

/* play start   */
.rb-middile .play_btn{margin-top: -42px;position: relative;    z-index: 999;}
.rb-middile .play_btn::before{position: relative;content: "";background-color: #363636;
  height: 1px;display: block;top: 42px;z-index: -1; }

  /* section plane part */
  .section{background: url(images/plan_bg.png);background-size: 100% 100%;
 background-repeat: no-repeat;background-position: center;padding-top: 90px; }
.titlepage h2{ font-size: 40px;color: #252525;line-height: 40px;
 font-weight: bold;padding-top: 8px !important;padding: 0; }
 .titlepage h2::before{position: relative;content: "";background: url(images/ring.png);width: 55px;height: 51px;top: -8px;margin: 0 auto;display: block; margin-bottom: 8px;}
.section .titlepage span{font-size: 18px;line-height: 25px;color: #191919;    padding-top: 13px;display: block; }
 .section .plan-box img {width: 100%;border: #fff solid 25px; }
 .plan-box .plan_text{background-color: #f8d98f;cursor: pointer;padding: 49px 40px; position:relative; }
 .plan-box .plan_text h3{ color: #252525;font-weight: bold;font-size: 20px;
line-height: 22px;padding-bottom: 10px;transition: ease-in all 0.5s;text-transform: uppercase; }
 .plan-box .plan_text p{ color: #fff;font-weight: 400;font-size: 18px;line-height: 30px;
    padding-bottom: 30px; }


 .plan-box .plan_text .read_more{font-size: 17px;background-color: #413c31;color: #fff;
 padding: 6px 0px;width: 100%;max-width: 157px;text-align: center;display: inline-block;transition: ease-in all 0.5s; font-weight: 500;border-radius: 5px;height: 43px; text-decoration: none;}
 .plan-box .plan_text .read_more{ position: absolute;bottom: -13px;margin: 0 auto;    left: 0;right: 0; opacity: 0;transition: ease-in all 0.5s; }
 .plan-box .plan_text:hover .read_more{ opacity: 1 !important;transition: ease-in all 0.5s; }
  .plan_text .read_more:hover{background: #e6615a;color: #fff; }


/* .plan-box .plan_text:hover .read_more{ position:absolute; bottom:0px; }*/


    .plan-box .plan_text p:hover {color: #252525;transition:ease-in all 0.s;}
    .plan-box .plan_text:hover h3 {color: #fff;transition:ease-in all 0.5s;}
    /* second caroural css work */
    /*.rb-carousel-rbt .rb-size img{width: 365px;height: 376px; border-radius: 15px; }*/
    .rb-carousel-rbt .rbt-social-icon { display:flex; justify-content:center }
    .rb-carousel-rbt  .rbt-social-icon li{ color:red; margin-right: 15px; padding: 12px; list-style: none;}
    .rb-carousel-inner{position: relative; }
    .carousel-conct{ position:absolute; top:45%; }
    .carousel-conct .read_more{ background: black; color:white; padding:10px 20px;} 
    .carousel-conct .read_more:hover{ background:#e6615a; transition:ease-in all 0.8; }


    .owl-nav .owl-prev{ position: absolute;top: 42%; left: 50px; background:none; }
     .owl-nav .owl-next{ position:absolute;top:40%; right: 50px; background: none;}
    .owl-nav ,.owl-next span{ font-size:102px; color: white; } 

   .rbt-carousel-3 .owl-nav .owl-prev, .rbt-carousel-3 .owl-nav .owl-next{ top: 20%;  }
  

/* rb-married-viedos */
 .rb-married-content{ background: url(images/banner2.jpg);background-size: 100% 100%;
    background-position: center;background-repeat: no-repeat;padding: 50px 0px; }

/* blog part start */
.blog .rb-blog{background: #fff;box-shadow: 0 0px 21px -4px #ddd; }
.blog .rb-blog .blog_img{ position:relative; }
.blog .rb-blog .blog_img span{position: absolute;top: 43%;right: 0px;background: #e6615a; padding: 15px 27px; font-weight: bold;color: #fff;font-size: 20px;line-height: 24px; }

.blog .rb-blog .marriage_text{padding: 30px 25px 20px 0px; }
.blog .rb-blog .marriage_text span{color: #c1c2c3;font-size: 17px;line-height: 20px;    padding-bottom: 25px;display: block; }
/*.marriage_text h3{ color: #252525;font-size: 24px;line-height: 25px;    font-weight: bold;padding-bottom: 30px; }
*/
.blog .rb-blog .marriage_text p{color: #202020;font-size: 17px;line-height: 30px;    padding-bottom: 43px; }
.blog .rb-blog .marriage_text h4{ color: #202020;font-size: 17px;line-height: 20px; font-weight: bold;} 
.blog .rb-blog .marriage_text h4 .padd_right{ padding-left:35px; }
.blog .rb-blog .marriage_text h4 strong:hover{ color:#e6615a;  transition:ease-in all 0.4;}

/* groome start */
.rb-show li a { display }

.rb-carousel-rbt .carousel-conct h3:hover .rb-show{ display:block; }
.rb-show li a{ color:#e6615a; font-size:22px; }

/*.carousel-conct.marriage_text .rb-show {visibility: hidden;}
.carousel-conct.marriage_text:hover .rb-show {    visibility: visible;}*/

.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {background:none;}



 .rbt-carousel-3 .carousel-conct{position: static;}
  .rbt-carousel-3  .owl-nav .owl-prev {top: 18%;left: 15px;}
 .rbt-carousel-3 .owl-nav .owl-next { top: 18%;right: 15px;}
.rb-footer.rb-pro .rb-pro-iocn{ margin-left:25px; font-size:30px; }
.rb-footer .rb-pro .rb-pro-iocn:hover{ color:#f300aa; }

.rb-footer{ background: #252525; }.rb-footer .rb-copyright p,a{ color:#fff; }
.rb-footer .rb-copyright p a:hover{ color:#db4b1f; }
.rb-groome-section { background: url(images/about_bg.jpg);background-size: 100% 100%;
    background-repeat: no-repeat;background-position: center; }

 .rb-back-fashion {border-radius: 10px;border: 1px solid transparent;background: #fff;position: relative;     transition: all 0.4s;
    z-index: 3; -webkit-box-shadow: 0 10px 50px rgb(76 76 76 / 5%);}

.rb-back-fashion:hover{border-color: transparent; }

.rb-back-fashion::before {    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px; content: ""; background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);opacity: 0; transition: all 0.4s; position: absolute;
    border-radius: 5px;background: #fff;z-index: -1;}
    .rb-back-fashion:hover::before{ opacity:1; }

 .rb-back-fashion ::after{content: "";position: absolute; border-radius: 5px;background: #fff;
    z-index: -1;top: 0;left: 0;right: 0;bottom: 0;}


/*.rb-back-fashion:hover::before{ opacity:1;position: absolute;}*/
.rb-carserl{cursor: pointer; }



.rbt-heading-text-color{ background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;font-size: 40px;font-weight: 600;}


#rbt_loading_overlay, #rbt_loader_icon {
    position: fixed;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    z-index: 999999;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
    .section .plan-box .plan_text:hover {box-shadow: 1px 3px 9px 4px #dcbc39;transition: ease-in all 0.5s;  }
  .insta-color:hover{ color:#f300aa; }
 .face-color:hover{ color:#1877f2; }
    .twiter-color:hover{ color:#1da1f2; }
     .in-color:hover{ color:red; }
     .rb-head nav{padding: 4px 60px;background: #ffffffe6;border-color: #f5f5f5;border-bottom: 2px solid #7474741a;}
     .rb-head nav #rbt-navbar-click{ justify-content:flex-end; }
.rbt_laoder_wrapper{display: none;}

.anchor_btn{color:#e6615a;text-decoration: none}

/* mobile Deviec 400 start */
@media( max-width:400px){ 

	.upper-top .lacation li{ padding:25px 0px; }
	.rb-married-content .titlepage h3{ font-size:17px; }
	#rb-menu li a{ width:5px;}
	.rb-carousel-inner{position: relative; } .carousel-conct{ position:absolute; top:21%; font-size: 10px;} .owl-nav .owl-prev {position: absolute;top: 25%;left: 0px;}
	.owl-nav .owl-next { position: absolute;top: 25%;right: 0px; }
	 .owl-nav ,.owl-next span{ font-size:70px; color:white; }
	 .carousel-conct.marriage_text .rb-show {visibility: visible;}
	 .plan-box .plan_text .read_more{ opacity:1; }
	 .rb-map{ position:relative; }
     .rb-map iframe{ position:static; }
     .rb-head nav{ padding:4px 7px; }
     .carousel-conct .read_more{ padding:0px; }
     .rbt-carousel-3 .rb-back-fashion p{ font-size:14px; }
.blog .rb-blog .marriage_text {padding: 30px 20px 23px 0px;}
.rb-send_btn{ max-width:100%; margin:26px 0px; width:100%; border-radius:7px; }

}
/* mobile Deviec 400 end */


 








	 	
	